:root {
    --color--h1-dark: #0B0F10;
    --color--h2-dark: #E7F2FA;
    --color--h3-dark: #2E8DB5;
    --color--h4-dark: #7A7A7A;

    --color--h1-light: #E7F2FA;
    --color--h2-light: #778080;
    --color--h3-light: #2E8DB5;
    --color--h4-light: #E7F2FA;

    --color--h1: #0B0F10;
    --color--h2: #E7F2FA;
    --color--h3: #2E8DB5;
    --color--h4: #7A7A7A;
}