@import 'colors.scss';

*{
    transition: color, background-color, border-color ease-in-out 0.2s;
}

body{
    background-color: var(--color--h1-first);
}

h1{
    font-family: "Lato-Black", sans-serif;
    color: var(--color--h2);
}
h2{
    font-family: "Lato-Bold", sans-serif;
    color: var(--color--h2);
}
h3{
    font-family: "Lato-Regular", sans-serif;
    color: var(--color--h2);
}
p{
    font-family: "Lato-Light", sans-serif;
    color: var(--color--h2);
}

label{
    font-family: "Lato-Bold", sans-serif;
    color: var(--color--h1-third);
}