@import '_style';

.nav-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}

.nav-menu{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 4vmax;
}