@import '_style';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}