@import '_style';

/* Url links */
.url-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 11vmax;
}

.url-link{
    width: 50vw;
}

.h2-or{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    font-size: 2vmax;

    animation-name: slide-left;
    animation-duration: 0.2s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media only screen and (max-width: 1200px) {
    .url-link{
        width: 70vw;
    }
}

@media only screen and (max-width: 768px) {
    .url-link{
        width: 80vw;
    }
}

@media only screen and (max-width: 600px) {
    .url-link{
        width: 90vw;
    }
}