* {
    --color--h1-dark: #242424;
    --color--h2-dark: #FCFCFC;
    --color--h3-dark: #D2F898;

    --color--h1-light: #FCFCFC;
    --color--h2-light: #242424;
    --color--h3-light: #D2F898;

    --color--h1: var(--color--h1-dark);
    --color--h2: var(--color--h2-dark);
    --color--h3: var(--color--h3-dark);
}

body{
    background-color: var(--color--h1);
}